main{
    height: 90vh;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_box{
    width: 500px;
    background-color: white;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: solid 1px;
    border-radius: 7px;
    position: relative;
}
.login_box input{
    height: 50px;
    border: solid 2px;
    border-radius: 7px;
    margin-bottom: 10px;
}
.login_box button{
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 7px;
    color: white;
    background-color: black;
    font-size: larger;
}
.login_box h2{
    margin-bottom: 50px;
}
.login_box a{
    color: black;
}
#err {
    opacity: 1;
    transition: opacity 1s ease; /* Adjust the duration and easing as needed */
}
#passhint{
    width: 100%;
    height: 60px;
    margin: 0;
    color: gray;
    font-size: medium;
    transition: color .8s ease;
    transition: font-size .8s ease;
}



.password-container{
    position: relative;
    margin: 0 0 10px 0;
}
.password-container input{
    width: 100%;
    margin: 0;
    padding-right: 30px
}
#password-eye{
    all:initial;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
}
