main{
    display: flex;
    min-height: 100vh;
}
.admintable{
    flex: 1;
    padding: 20px;
}
.admintable table{
    width: 100%;
    margin-top: 30px;
}
.admintable th{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    height: 40px;
    font-size: small;
}
.admintable td{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    height: 40px;
    font-size: small;
}
#status{
    width: 300px;
    height: 100px;
    display: none;
    position: absolute;
    top:40%;
    left:40%;
    border:solid 1px;
    border-radius: 7px;
    z-index: 2;
    background-color: gray;
}
.useredit button{
    border-radius: 3px;
    border: solid 1px rgb(207, 207, 207);
    padding: 2px 7px 2px 7px;
    background-color: white;
}
.useredit a{
    border: solid 1px rgb(187, 187, 187);
    padding: 2px 10px 2px 10px;
    border-radius: 3px;
    color: black;
}

.usersearch{
    text-align: end;
}
.usersearch a{
    border: solid 1px;
    text-decoration: none;
    border-radius: 7px;
    padding: 4px;
    color: black;
}
.usersearch input{
    border-radius: 7px;
    padding: 3px;
    border: solid 1px black;
}
.imagespan{
    position: relative;
    display: inline-block;
    margin: 10px;
}
.imagespan button{
    position: absolute;
    right: 0;
    top: 0;
}
.imagespan img{
    height: 150px;
}
.varientoldbody{
    flex:1
}
.varientbody{
    flex: 1;
}