<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap.ejs') %>
        <link rel="stylesheet" href="/stylesheets/admin/admin_newproduct.css">
</head>

<body>
    <%- include('../partials/adminheader.ejs') %>
        <main>
            <%- include('./partials/sidebar.ejs') %>
            <div style="flex: 1;">
                <div class="topsubmit">
                    <button style="background-color:lightblue;" type="submit" form="categoryform" formaction="/admin/category/new/0">save as draft</button>
                    <button style="background-color: #08cdff;" type="submit" form="categoryform" formaction="/admin/category/new/1">Publish product</button>
                </div>
                <hr style="margin: 0;">
                <div style="display: flex;align-items: center;flex-direction: column;justify-content: center;height: 200px;">
                    <div class="inputx" style="width: 400px;">
                        <div>
                            <h4>Create new Category</h4>
                        </div>
                        <form method="post" id="categoryform">
                            <div>
                                <div style="grid-template-columns: 1fr" class="gridbox">
                                    <div class="labelbox">
                                        <label for="categoryname">Category Name</label>
                                        <input type="text" name="category" id="productname">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
</body>
</html>