<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="/stylesheets/admin/admin_dashboard.css">
</head>
<body>
    <%- include('../partials/adminheader.ejs') %>
    <main>
        <%- include('./partials/sidebar.ejs') %>
        <div class="adminside" >
            
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>