<head>
    <style>
        header h2{
            margin-left: 48%;
            display: inline;
        }
        header{
            background-color: rgb(223, 223, 223);
            height: 50px;
        }
    </style>
</head>
<header>
    <h2>Suggo</h2>
    <div style="float:right ;height: 100%;width: 90px;display: flex;justify-content: center;align-items: center;">
        <a href="/admin/signout" class="btn btn-danger">Signout</a>
    </div>
</header>
<hr style="margin:0px 0px 4px 0px;height: 3px;background-color: black;">
