<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/bootstrap.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div style="padding: 50px 100px 50px 100px;display: flex;flex-direction: column;">
        <div>
            <h2 style="float: left;">my order</h2>
            <select style="float: right;" name="" id="">
            <option value="">7days</option>
            </select>
        </div>
        <div>
            <table style="width: 100%;">
                <tr style="border: solid 2px gray;">
                    <th>order no</th>
                    <th>customer name</th>
                    <th>payment status</th>
                    <th>amount </th>
                    <th>address</th>
                    <th>order date</th>
                    <th>status</th>
                </tr>
                <tr>
                    <td>hai</td>
                </tr>
            </table>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>