.imgzoomx{
    width: 500px;
    height: 500px;
}
#zoom{
    display: none;
    width: 250px;
    height: 250px;
    border: solid 1px black;
    position: absolute;
}
.img-container{
    padding: 20px;
}
main{
    background-color: rgb(233, 233, 233);
    padding: 0px 40px 10px 40px;
}
.submain{
    background-color: rgb(233, 233, 233);
    padding: 5px 90px 35px 90px;
    display: flex;
    gap:2px
}
.productimage{
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product{
    background-color: white;
    width: 100%;
    padding: 15px 30px 15px 30px;
}
.disbut:disabled{
    opacity: 1;
}
.productsubimage{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    place-content: center;
    width: 100%;
    padding: 0 50px 20px 50px;
}
.imgsmall{
    width: 120px;
    height: 120px;
}
.breadx{
    padding-top: 20px;
    padding-left: 90px;
}
.breadx a{
    text-decoration: none;
    color: black;
}
.review{
    padding: 0 90px 0 90px;
    background-color: rgb(233, 233, 233);
}
.review-main{
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.ratestar button{
    border: none;
    background-color: rgb(255, 0, 0);
}
.ratestar button:hover,.ratestar button:hover ~ button{
    background-color: rgb(255, 255, 255);
}