.imgzoomx{
    width: 500px;
    height: 500px;
}
#zoom{
    display: none;
    width: 250px;
    height: 250px;
    border: solid 1px black;
    position: absolute;
}
.img-container{
    padding: 20px;
}
main{
    background-color: rgb(233, 233, 233);
    padding: 35px 90px 35px 90px;
    display: flex;
    gap:2px
}
.productimage{
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product{
    background-color: white;
    width: 100%;
    padding: 15px 30px 15px 30px;
}
.disbut:disabled{
    opacity: 1;
}