<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap') %>
    <style>
        main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        .login_box{
            border: solid 1px;
    padding: 50px;
    height: 400px;
    border-radius: 20px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}
.login_box input{
    border-radius: 10px;
    flex: .2;
}
.login_box h1{
    flex:.35
}
.login_box button{
    width: 120px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
    </style>
</head>
<body>
    <%- include('../user/partials/header') %>
    <% if(locals.error){ %>
        <dialog open style="background-color: black;color:white;position: absolute;top: 50vh;border-radius: 10px;">
            <p>No user found</p>
            <form method="dialog">
                <button>OK</button>
            </form>
        </dialog>
    <% }%>
    <main>
        <form action="/user/forgot_password" method="POST">
            <section>
                <div class="login_box">
                    <h1 style="text-align: center;">Forgot Password</h1>
                    <input type="text" name="email" placeholder="Email">
                    <button style="display: block;align-self: center;" type="submit">Sent OTP</button>
                    <p>By clicking the sent otp button you will sent a otp to your registred email and thus verifing the otp you can change your password</p>
                </div>
            </section>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>