<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="/stylesheets/common/otp.css">
</head>
<body>
    <%- include('../user/partials/header.ejs') %>
    
        <% if(locals.otperr){ %>
            <dialog open style="background-color: black;color:white;position: absolute;top: 50vh;border-radius: 10px;">
                <p>wrong OTP</p>
                <form method="dialog">
                    <button>OK</button>
                </form>
            </dialog>
        <% }%>

        <main>
            <div class="otp" style="display: flex;justify-content: center;align-items: center;">
                <form  onsubmit="return otpcheck()">
                    <div style="display: flex;flex-direction: column;gap:10px;align-items: center;">
                        <h1 style="text-align: center;">Enter OTP</h1>
                        <input style="height: 30px;border-radius: 7px;" type="password" name="otp" id="otp" placeholder="otp">
                        <input style="height: 30px;border-radius: 7px;" type="password" name="newpassword" id="password" placeholder="NEW PASSWORD" >
                        <button  style="border-radius: 8px;width: 80px;" type="submit">submit</button>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../user/partials/footer.ejs') %>

        <script>
            async function otpcheck(){
                event.preventDefault()
                const otpinput=document.querySelector('#otp').value
                const password=document.querySelector('#password').value
                if(isNaN(otpinput) || otpinput.length==4){
                    const response = await fetch('/user/forgot_password/check/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                        body: new URLSearchParams({
                            otp: otpinput,
                            password:password,
                        }),credentials: 'include',
                    })
                    const check = await response.json()
                    if (check.otp) {
                        window.location.href = '/user/user_signin'
                    } else {
                        console.log(check.error)
                        alert('incrroct otp')
                    }
                }else{
                    alert('OTP should be 4 digit number')
                }
            }
        </script>
</body>
</html>
