<div style="padding: 0 30px 0 30px;">
    <div>
        <h4 style="float: left;">address</h4>
        <a style="float: right;" href="">add new</a>
        <hr>
    </div>
    <div>
        <ol>
            <li>
                <div>
                    <ul>
                        <div>
                            
                        </div>
                    </ul>
                </div>
            </li>
        </ol>
    </div>
</div>