<div>
    <div style="display: flex;border: solid 1px;">
        <button>x</button>
        <h1 style="display: inline;margin: 0;">Account Details</h1>
        <button>submit</button>
    </div>
    <div style="padding: 20px;">
        <h1>customer edit</h1>
        <h4>Details</h4>
        <div style="display: flex;">
            <div>
                <div style="display: flex;">
                    <div style="display: flex;flex-direction: column;">
                        <label for="">name</label>
                        <input type="text">
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <label for="">email</label>
                        <input type="text">
                    </div>
                </div>
                <div style="display: flex;">
                    <div style="display: flex;flex-direction: column;">
                        <label for="">password</label>
                        <input type="text">
                    </div>
                    <div style="display: flex;flex-direction: column;">
                        <label for="">phone</label>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div style="display: flex;flex-direction: column;">
                <label for="">address</label>
                <input type="text">
            </div>
        </div>
    </div>
</div>